:root {
  --green: #5baf4c75;
  --lightyellow: #FFFFE0;
}

body, html {
  background-color: var(--lightyellow);
  height: 100%;
  margin: 0;
  width: 100%;
  user-select: none;
}

#canvas {
  background-color: var(--green);
}

.endScreen {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 30px;
  z-index: 1;
  border-radius: 10px;
  background-color: var(--green);
  color: var(--lightyellow);
  border: 5px solid black;
}

.display-none {
  display: none;
}
